<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="https://muidev.me" />

    <!-- HTML Meta Tags -->
    <title>Mui</title>
    <meta
      name="description"
      content="I'm an intermediate-level full-stack developer with a solid grasp of Javascript, HTML, CSS, React, Tailwind, and Node. I excel in writing functional scripts, maintaining responsive websites, and crafting seamless user experiences. Proficient in producing clear, well-optimized code and executing efficient scripts, I am also dedicated to staying abreast of the latest web development trends and technologies, striving to create solutions that are not only effective and efficient but also contemporary and forward-looking."
    />

    <meta name="og:site_name" content="Mui" />
    <meta property="og:url" content="https://muidev.me" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Mui" />
    <meta
      property="og:description"
      content="I'm an intermediate-level full-stack developer with a solid grasp of Javascript, HTML, CSS, React, Tailwind, and Node. I excel in writing functional scripts, maintaining responsive websites, and crafting seamless user experiences. Proficient in producing clear, well-optimized code and executing efficient scripts, I am also dedicated to staying abreast of the latest web development trends and technologies, striving to create solutions that are not only effective and efficient but also contemporary and forward-looking."
    />
    <meta property="og:image" content="https://muidev.me/assets/favicon.png" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="muidev.me" />
    <meta property="twitter:url" content="https://muidev.me" />
    <meta name="twitter:title" content="Muidev" />
    <meta
      name="twitter:description"
      content="I'm an intermediate-level full-stack developer with a solid grasp of Javascript, HTML, CSS, React, Tailwind, and Node. I excel in writing functional scripts, maintaining responsive websites, and crafting seamless user experiences. Proficient in producing clear, well-optimized code and executing efficient scripts, I am also dedicated to staying abreast of the latest web development trends and technologies, striving to create solutions that are not only effective and efficient but also contemporary and forward-looking."
    />
    <meta name="twitter:image" content="https://muidev.me/assets/favicon.png" />

    <script type="module" crossorigin src="/assets/index--5rm_GvM.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-Y_X58EqN.css" />
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WXL6HMQK");
    </script>
  </head>
  <body>
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WXL6HMQK"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <div id="root"></div>
  </body>
</html>
