@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=Inter:wght@100;200;300;400;500;700&family=Rubik:wght@400;500;700&family=Space+Mono&family=Ubuntu+Mono&family=Ubuntu:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  font-family: "Ubuntu";
  scroll-behavior: smooth !important;
}

.Toastify__progress-bar {
  height: 3px !important;
  background-color: #83a091;
}

.Toastify__toast-body div {
  font-weight: 500;
  font-family: "Ubuntu";
}

.faTimesSidebar {
  color: #191a1c;
  font-size: 26px;
  cursor: pointer;
  display: flex;
  transition: all 0.2s;

}

.faTimesSidebar:hover {
  color: #828282;
}

.cards-sidebar {
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  right: -835px;
  width: 550px;
  flex-direction: column;
  flex: 1;
  background-color: #fff;
  transition: right 0.2s;
  padding: 20px 40px 140px;
}

.shadow-cards-bg {
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  cursor: pointer;
  width: 100%;
  z-index: 102;
  display: none;
}

.content-links {
  bottom: 0;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
}

.content-links a {
  margin-right: 20px;
  background-color: #d7d7d72f;
  padding: 15px;
  border: 1px solid #494949;
  border-radius: 8px;
  transition: 0.2s ease-in;
  color: hsl(0, 0%, 5%);
}

.content-links a:hover {
  background-color: #74747441;
}

.content-body {
  height: 100%;
  width: 100%;
}

.content-body .content-title {
  margin-bottom: 10px;
}

.content-body .content-title span {
  font-weight: 500;
  font-family: "Ubuntu";
  font-size: 27px;
  color: hsl(0, 0%, 5%);
}

.content-body .content-title p {
  font-weight: 400;
  color: hsla(0, 0%, 5%, 0.764);
  font-family: "Inter";
  font-size: 15px;
}

.content-body .content-about span {
  font-weight: 500;
  font-family: "Ubuntu";
  font-size: 22px;
  color: hsl(0, 0%, 5%);
}

.content-stack span {
  margin-right: 7px;
  padding: 10px;
  background-color: #1f1f1ff9;
  border-radius: 3px;
}

.content-stack {
  height: 100%;
}

.content-body .content-about p {
  font-weight: 300;
  color: hsl(0, 0%, 5%);
  font-family: "Inter";
  font-size: 15px;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.content-body .content-image img {
  border-radius: 8px;
  user-select: none;
  -webkit-user-drag: none;
  margin-bottom: 25px;
  border: 1px solid #191a1c;
}

.sidebar-title {
  position: relative;
  display: flex;
  padding: 20px 0;
  padding-left: 10px;
  border-bottom: 1px solid hsla(0, 0%, 13%, 0.4);
  width: 100%;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar-title span {
  font-family: "Inter";
  font-weight: 300;
  font-size: 21px;
  color: #191a1c;
  word-wrap: break-word;
}

.services {
  padding: 2rem;
}

.services-body {
  overflow: auto;
}

.projects {
  padding: 2rem;
}

.about {
  padding: 2rem;
}

.about-body {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
}

.times {
  display: none;
}

.contact {
  padding-bottom: 2rem;
}

.contact>.section-title {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

.tech-stack {
  display: flex;
  flex-direction: column;
}

.tech-stack span {
  font-family: "Ubuntu";
  font-weight: 500;
  color: #212121;
}

.contactform {
  height: auto;
}

.section-title {
  margin-bottom: 15px;
}


.section-title {
  font-size: 24px;
  color: #494949;
  font-family: "Ubuntu";
  text-transform: uppercase;
  font-weight: 500;
}

.home {
  height: auto;
  width: 100%;
  padding: 2rem;
  height: 100vh;
  z-index: 4;
}

.services-body {
  height: auto;
}

.footer-_text {
  font-weight: 500;
  font-family: "Ubuntu";
  font-size: 17px;
  text-transform: uppercase;
  color: #494949;
}

.footer-links li {
  list-style-type: square;
}

.footer-link {
  font-weight: 500;
  font-family: "Ubuntu";
  font-size: 17px;
  text-transform: capitalize;
  color: #494949;
}

.footer-link:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

.footer-links {
  width: 50%;
  z-index: inherit;
  height: 100%;
  margin-left: 50px;
}

.imageself img {
  height: 350px;
  max-width: 450px;
  user-select: none;
  -webkit-user-drag: none;
  margin-bottom: 5px;
}

.intro-body {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.cards {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 10px;
}

.project-card {
  width: 100%;
  height: 220px;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 300ms;
}

.project-card:hover img {
  transform: scale(1.1);
}

.project-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.project-card img {
  transition: transform 300ms;
  width: 100%;
  z-index: 1;
  height: 100%;
  object-fit: cover;
}

.project-card .content {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding: 30px 20px 20px 20px;
  height: auto;
  z-index: 2;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.project-card .date,
.project-card .title {
  margin: 0;
}

.project-card .date {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 4px;
}

.project-card .title {
  font-size: 17px;
  color: #fff;
}

.project-card .credential {
  font-size: 15px;
  font-weight: 500;
  color: #dadada;
}

.intro {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-text {
  font-weight: 500;
  font-size: 34px;
  font-family: "Ubuntu";
  color: #121212;
}

.contact-form {
  width: 100%;
  height: auto;
  padding: 2rem;
  padding-top: 0;
}

.about-title {
  color: #494949;
  font-size: 26px;
  font-family: "Ubuntu";
  font-weight: 500;
}

.about-description {
  color: #494949;
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  text-align: justify;
  word-wrap: break-word;
}

.input-text {
  width: 100%;
  padding: 10px 10px;
  border-bottom: 3px solid #83a091;
  outline: none;
  font-weight: 500;
  font-family: "Inter";
  color: #212121;
  border-left: 3px solid #212121;
  border-top: 3px solid #212121;
  border-right: 3px solid #212121;
}

.submit-button {
  color: #121212;
  font-family: "DM Mono";
  font-weight: 500;
  padding: 10px;
  border: 3px solid #212121;
  width: 100%;
  color: #212121;
  font-size: 17px;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.submit-button:hover {
  background-color: #212121;
  color: #fff;
}

.intro-description {
  color: #494949;
  font-weight: 400;
  font-size: 17px;
  font-family: "Inter";
}

body {
  background-color: #fff;

}

.footer {
  border-top: 1px solid #83a091;
  z-index: 50;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-contacts {
  width: 50%;
  z-index: inherit;
}

.mailto-footer:hover {
  color: #83a091;
}

.footer a {
  font-family: "DM Mono";
  font-weight: 500;
  font-size: 24px;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #fff !important;
}

.copyright-text {
  color: #121212;
  font-family: "Ubuntu";
  font-weight: 500;
}

.footer-text {
  font-size: 32px;
  font-weight: 400;
  font-family: "Ubuntu";
  color: #121212;
}

.footer-description {
  color: #313131;
  font-weight: 400;
  font-family: "Inter";
}

main {
  height: 100%;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  z-index: 2;
  color: #fff;
}

.title {
  margin-left: 5rem;
  width: 50%;
  gap: 1rem;
}

.bars-icon {
  display: none;
}

.bars {
  cursor: pointer;
}

.title .one {
  font-family: "Ubuntu", monospace;
  font-weight: 500;
  font-size: 35px;
  text-transform: uppercase;
  user-select: none;
}

.title .two {
  font-family: "Ubuntu", monospace;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  user-select: none;
}

.header {
  padding: 20px;
  height: 105px;
}

.links-div {
  width: 100%;
  gap: 25px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.links {
  font-size: 18px;
  font-weight: 500;
  font-family: "Ubuntu";
  text-transform: uppercase;
}

.links a {
  color: #121212;
  transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.links a:hover {
  color: #83a091;
}

.intro-icon {
  padding: 14px;
  border-radius: 6px;
  text-align: center;
  transition: 0.2s ease-in;
  font-weight: 500;
  border: 2px solid #121212;
  gap: 5px;
  font-size: 19px;
  color: #121212;
}

.intro-icon:hover {
  background-color: #121212;
  color: white;
}

.intro-icons {
  font-size: 30px;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 15px;
    height: 100px;
  }

  .section-title {
    font-size: 20px;
  }

  .title .one {
    font-size: 21px
  }

  .links-div a {
    font-size: 16px;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .home {
    height: 100vh;
    width: 100%;
    padding: 2rem;
    z-index: 4;
  }

  .imageself img {
    height: 325px;
    max-width: 350px;
    user-select: none;
    -webkit-user-drag: none;
    margin-bottom: 20px;
  }

  .intro-body {
    width: 100%;
    gap: 0;
    flex-direction: column;
  }

  .intro {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .intro-text {
    font-weight: 500;
    font-size: 27px;
    font-family: "Ubuntu";
    color: #121212;
    margin-bottom: 5px;
  }

  .intro-description {
    color: #494949;
    font-weight: 400;
    font-size: 18px;
    font-family: "Inter";
  }

  .footer {
    border-top: 1px solid #83a091;
    height: 225px;
  }

  .footer-contacts {
    width: 100%;
    z-index: inherit;
  }

  .mailto-footer:hover {
    color: #83a091;
  }

  .footer a {
    font-family: "DM Mono";
    font-weight: 500;
    font-size: 19px;
    color: #121212;
    transition: 0.3s ease-out;
  }

  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: #fff !important;
  }

  .copyright-text {
    color: #121212;
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 14px;
  }

  .footer-text {
    font-size: 27px;
    font-weight: 500;
    font-family: "Ubuntu";
    color: #121212;
  }

  .footer-description {
    color: #313131;
    font-weight: 400;
    font-family: "Inter";
    font-size: 17px;
    margin-bottom: 5px;
  }

  .title .one {
    font-family: "Ubuntu", monospace;
    font-weight: 500;
    font-size: 26px;
    text-transform: uppercase;
    user-select: none;
  }

  .title .two {
    font-family: "Ubuntu", monospace;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    user-select: none;
  }

  .bars-icon {
    display: none;
    font-size: 29px;
    margin-right: 2rem;
  }

  .footer-contacts {
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .content-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-links a {
    padding: 12px;
  }

  .links-div {
    display: flex;
    z-index: 104;
    align-items: center;
    margin-right: 0;
    gap: 0;
    justify-content: center;
    height: 100vh;
    overflow: auto;
    width: 100%;
    flex-direction: column;
    background-color: #83a091;
    position: absolute;
    top: -1200px;
    left: 0;
    transition: top 0.4s;
  }

  .links-div li {
    display: flex;
    margin-bottom: 35px;
  }

  .links-div li a {
    font-size: 26px;
    color: #fff;
    font-family: "DM Mono";
    font-weight: 500;
  }

  .times {
    top: 0;
    right: 0;
    display: flex;
    position: absolute;
    padding: 25px;
    cursor: pointer;
  }

  .times .times-icon {
    color: #fff;
    transition: 0.2s ease-in;
    font-size: 26px;
  }

  .times .times-icon:hover {
    color: #212121;
  }

  .links-div li a:hover {
    color: #212121;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-title {
    color: #494949;
    font-size: 19px;
    font-family: "Ubuntu";
    font-weight: 500;
  }

  .about-description {
    color: #494949;
    font-size: 13px;
    font-family: "Inter";
    font-weight: 400;
  }

  .tech-stack span {
    font-size: 14px;
  }

  .about-skills {
    margin-bottom: 10px;
  }

  .section-title {
    font-size: 19px;
  }

  .contact-form {
    width: 100%;
    height: auto;
    padding: 1.5rem;
    padding-top: 0;
  }

  .input-area textarea {
    height: 106px !important;
  }

  .input-area {
    margin-bottom: 1.2rem;
  }

  .input-text {
    padding: 7px 10px;
    font-size: 13px;
  }

  .contact-title {
    font-family: "DM Mono";
    font-weight: 500;
    color: #fff;
    font-size: 24px;
  }

  .submit-button {
    padding: 5px;
    font-size: 14px;
  }

  .intro-icon {
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    transition: 0.2s ease-in;
    font-weight: 500;
    border: 2px solid #121212;
    gap: 5px;
    font-size: 15px;
    color: #121212;
  }

  .footer-links {
    width: 100%;
    margin-left: 0;
  }

  .footer-_text {
    font-size: 16px;
  }

  .footer-link {
    font-size: 14px;
  }

  .intro-icons {
    font-size: 25px;
  }

  .home {
    height: 100vh;
    width: 100%;
    padding: 2rem;
    z-index: 4;
  }

  .imageself img {
    height: 350px;
    max-width: 450px;
    margin-top: 50px;
    user-select: none;
    -webkit-user-drag: none;
    margin-bottom: 20px;
  }

  .intro-body {
    width: 100%;
    gap: 0;
    flex-direction: column;
  }

  .intro {
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .intro-text {
    font-weight: 500;
    font-size: 24px;
    font-family: "Ubuntu";
    color: #121212;
    margin-bottom: 10px;
  }

  .intro-description {
    color: #494949;
    font-weight: 400;
    font-size: 14px;
    font-family: "Inter";
  }

  .footer {
    border-top: 1px solid #83a091;
    height: 235px;
    display: flex;
    flex-direction: column;
  }

  .footer-contacts {
    width: 100%;
    z-index: inherit;
    margin-bottom: 15px;
  }

  .mailto-footer:hover {
    color: #83a091;
    transition: 0.1s ease-out;
  }

  .footer a {
    font-family: "DM Mono";
    font-weight: 500;
    font-size: 17px;
  }

  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: #fff !important;
  }

  .copyright-text {
    color: #121212;
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 14px;
  }

  .footer-text {
    font-size: 32px;
    font-weight: 500;
    font-size: 19px;
    font-family: "Ubuntu";
    color: #121212;
  }

  .footer-description {
    color: #313131;
    font-weight: 400;
    font-family: "Inter";
    font-size: 14px;
    margin-bottom: 5px;
  }

  .header {
    height: 75px;
  }

  .title .one {
    font-family: "Ubuntu", monospace;
    font-weight: 500;
    font-size: 27px;
    text-transform: uppercase;
    user-select: none;
  }

  .title .two {
    font-family: "Ubuntu", monospace;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    user-select: none;
  }

  .bars-icon {
    display: block;
    font-size: 23px;
    margin-right: 0;
  }

  .title {
    margin-left: 0;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 640px) {
  .content-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-links a {
    padding: 12px;
  }

  .faTimesSidebar {
    font-size: 23px;
  }

  .cards-sidebar {
    width: 100%;
    padding: 10px 40px 120px;
  }

  .shadow-cards-bg {
    display: none;
  }

  .content-links {
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  .content-links a {
    padding: 12px;
    margin-right: 12px;
  }

  .content-body .content-title span {
    font-size: 22px;
  }

  .content-body .content-title p {
    font-size: 14px;
  }

  .content-body .content-about span {
    font-weight: 500;
    font-family: "Ubuntu";
    font-size: 20px;
    color: hsl(0, 0%, 5%);
  }

  .content-stack span {
    padding: 8px;
    font-size: 16px;
  }

  .sidebar-title span {
    font-size: 19px;
  }

  .links-div {
    display: flex;
    z-index: 104;
    align-items: center;
    margin-right: 0;
    gap: 0;
    justify-content: center;
    height: 100vh;
    overflow: auto;
    width: 100%;
    flex-direction: column;
    background-color: #83a091;
    position: absolute;
    top: -1200px;
    left: 0;
    transition: top 0.4s;
  }

  .links-div li {
    display: flex;
    margin-bottom: 35px;
  }

  .links-div li a {
    font-size: 26px;
    color: #fff;
    font-family: "DM Mono";
    font-weight: 500;
  }

  .times {
    top: 0;
    right: 0;
    display: flex;
    position: absolute;
    padding: 25px;
    cursor: pointer;
  }

  .times .times-icon {
    color: #fff;
    transition: 0.2s ease-in;
    font-size: 26px;
  }

  .times .times-icon:hover {
    color: #212121;
  }

  .links-div li a:hover {
    color: #212121;
  }

  .cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .project-card .content .title {
    font-size: 15px;
  }

  .project-card .content .credential {
    font-size: 13px;
  }


  .intro-icon {
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    transition: 0.2s ease-in;
    font-weight: 500;
    border: 2px solid #121212;
    gap: 5px;
    font-size: 15px;
    color: #121212;
  }

  .footer-links {
    width: 100%;
    margin-left: 0;
  }

  .footer-_text {
    font-size: 16px;
  }

  .footer-link {
    font-size: 14px;
  }

  .intro-icons {
    font-size: 25px;
  }

  .home {
    height: 100vh;
    width: 100%;
    padding: 2rem;
    z-index: 4;
  }

  .imageself img {
    height: 350px;
    max-width: 400px;
    user-select: none;
    -webkit-user-drag: none;
    margin-bottom: 20px;
  }

  .intro-body {
    width: 100%;
    gap: 0;
    flex-direction: column;
  }

  .intro {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .intro-text {
    font-weight: 500;
    font-size: 24px;
    font-family: "Ubuntu";
    color: #121212;
    margin-bottom: 10px;
  }

  .intro-description {
    color: #494949;
    font-weight: 400;
    font-size: 14px;
    font-family: "Inter";
  }

  .footer {
    border-top: 1px solid #83a091;
    height: 235px;
    display: flex;
    flex-direction: column;
  }

  .footer-contacts {
    width: 100%;
    z-index: inherit;
    margin-bottom: 15px;
  }

  .mailto-footer:hover {
    color: #83a091;
    transition: 0.1s ease-out;
  }

  .footer a {
    font-family: "DM Mono";
    font-weight: 500;
    font-size: 17px;
  }

  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: #fff !important;
  }

  .copyright-text {
    color: #121212;
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 14px;
  }

  .footer-text {
    font-size: 32px;
    font-weight: 500;
    font-size: 19px;
    font-family: "Ubuntu";
    color: #121212;
  }

  .footer-description {
    color: #313131;
    font-weight: 400;
    font-family: "Inter";
    font-size: 14px;
    margin-bottom: 5px;
  }

  .header {
    height: 75px;
  }

  .title .one {
    font-family: "Ubuntu", monospace;
    font-weight: 500;
    font-size: 27px;
    text-transform: uppercase;
    user-select: none;
  }

  .title .two {
    font-family: "Ubuntu", monospace;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    user-select: none;
  }

  .bars-icon {
    display: block;
    font-size: 21px;
    margin-right: 0;
  }

  .title {
    margin-left: 0;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 450px) {
  .content-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-links a {
    padding: 10px;
  }

  .faTimesSidebar {
    font-size: 23px;
  }

  .cards-sidebar {
    width: 100%;
    padding: 10px 20px 120px;
  }

  .shadow-cards-bg {
    display: none;
  }

  .content-links {
    justify-content: center;
    align-items: center;
    padding: 12px;
  }

  .content-links a {
    padding: 10px;
    font-size: 15px;
    margin-right: 12px;
  }

  .content-body .content-title span {
    font-size: 22px;
  }

  .content-body .content-title p {
    font-size: 14px;
  }

  .content-body .content-about span {
    font-weight: 500;
    font-family: "Ubuntu";
    font-size: 20px;
    color: hsl(0, 0%, 5%);
  }

  .content-stack span {
    padding: 8px;
    font-size: 16px;
  }

  .sidebar-title span {
    font-size: 19px;
  }


  .links-div {
    display: flex;
    z-index: 104;
    align-items: center;
    margin-right: 0;
    gap: 0;
    justify-content: center;
    height: 100vh;
    overflow: auto;
    width: 100%;
    flex-direction: column;
    background-color: #83a091;
    position: absolute;
    top: -1200px;
    left: 0;
    transition: top 0.4s;
  }

  .links-div li {
    display: flex;
    margin-bottom: 35px;
  }

  .links-div li a {
    font-size: 26px;
    color: #fff;
    font-family: "DM Mono";
    font-weight: 500;
  }

  .times {
    top: 0;
    right: 0;
    display: flex;
    padding: 25px;
    position: absolute;
    cursor: pointer;
  }

  .times .times-icon {
    color: #fff;
    transition: 0.2s ease-in;
    font-size: 26px;
  }

  .times .times-icon:hover {
    color: #212121;
  }

  .links-div li a:hover {
    color: #212121;
  }

  .home {
    height: 100vh;
    width: 100%;
    padding: 2rem;
    z-index: 4;
  }

  .imageself img {
    height: 325px;
    max-width: 350px;
    user-select: none;
    -webkit-user-drag: none;
    margin-bottom: 20px;
  }

  .intro-body {
    width: 100%;
    gap: 0;
    flex-direction: column;
  }

  .intro {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .intro-text {
    font-weight: 500;
    font-size: 19px;
    font-family: "Ubuntu";
    color: #121212;
    margin-bottom: 5px;
  }

  .intro-description {
    color: #494949;
    font-weight: 400;
    font-size: 13px;
    font-family: "Inter";
  }

  .footer {
    border-top: 1px solid #83a091;
    height: 235px;
    padding: 1.3rem;
  }

  .footer-contacts {
    width: 100%;
    z-index: inherit;
  }

  .mailto-footer:hover {
    color: #83a091;
    transition: 0.1s ease-out;
  }

  .footer a {
    font-family: "DM Mono";
    font-weight: 500;
    font-size: 14px;
  }

  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: #fff !important;
  }

  .copyright-text {
    color: #121212;
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 12px;
  }

  .footer-text {
    font-size: 32px;
    font-weight: 500;
    font-size: 18px;
    font-family: "Ubuntu";
    color: #121212;
  }

  .footer-description {
    color: #313131;
    font-weight: 400;
    font-family: "Inter";
    font-size: 12px;
    margin-bottom: 5px;
  }

  .header {
    height: 75px;
  }

  .title .one {
    font-family: "Ubuntu", monospace;
    font-weight: 500;
    font-size: 21px;
    text-transform: uppercase;
    user-select: none;
  }

  .title .two {
    font-family: "Ubuntu", monospace;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    user-select: none;
  }

  .bars-icon {
    display: block;
    font-size: 17px;
    margin-right: 0;
  }

  .title {
    margin-left: 0;
    gap: 0.5rem;
  }
}